@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

::placeholder{
    color: #FFFFFF !important;
}

/* main */
.login-bg{
    background: url('../../assets/img/login.webp');
    background-size: cover;
    height: 758px;
    background-position: center;
    padding: 0;
}

.transparan-bg{
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: auto;
}

.content-login{
    position: relative;
    text-align: center;
    top: 53px;
}

/* atas kiri */
.explore-world{
    position: relative;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
}
.guest{
    position: relative;
    font-family: Nunito;
    font-style: normal;
    color: #FFFFFF;
    top: 22px;
}
.btn-gray{
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #FFCD61;
    background: #393939;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    border-radius: 10px;

    width: 100%;
    height: 42px;

    top: 10px;
}
.btn-gray:active{
    background-color: #000000;
    color: #FFFFFF;
}

/* atas tengah */
.dotup{
    position: relative;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    top: 13px;
    right: 50%;
}
.line-center{
    position: relative;
    border-bottom: 2px solid #ffff;

    top: 32px;
    display: inline-block;
}
.dotdown{
    position: relative;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    top: 13px;
    left: 50%;
}
.input-form-login{
    position: relative;
    top: 35px;
    bottom: 250px;
}
.input{
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 33px;

    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 10px;

    padding-left: 31px;
    width: 100%;
    height: 42px;
    margin-top: 40px;
}
.forgot-pass{
    position: relative;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    top: 8px;
    color: #FFFFFF;
}
.btn-yellow{
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #393939;
    background: #FFCD61;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    border-radius: 10px;

    width: 100%;
    height: 42px;

    top: 34px;
}
.btn-yellow:active{
    background: black;
    color: #FFFFFF;
}
.btn-login-google{
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    border-radius: 10px;

    width: 100%;
    height: 42px;
    top: 54px;
}
.btn-login-google>img{
    width: 21px;
    height: 23px;
}
.btn-login-google:active{
    background: cornflowerblue !important;
    color: #FFFFFF;
}

/* atas kanan */
Link{
    text-decoration: none;
}


.space-top{
    margin-top: 0;
    padding-top: 12px;
}

/* tablet */
@media (min-width:768px){
    .content-login{
        top: 180px;
        text-align: left;
    }
    /* media */
    .guest-form{
        width: 48%;
    }
    .line-center{
        width: 2%;
        border-bottom:none ;
        border-left: 2px solid #fff;
        left: 65px;
    }
    .login-form{
        width: 48%;
    }
   /* atas kiri */
    .explore-world{
        width: 220px;
        height: 113px;
        

        font-size: 40px;
        line-height: 38px;
        
    }
    .guest{
    width: 224px;
    height: 33px;

    font-size: 22px;
    line-height: 16px;
    top: 12px;
    }

    .btn-gray{
        width: 238px;
        height: 53px;
    }
    /* tengah */
    .dotup{
        position: absolute;
        top: 0;
        right: 93%;
    }
    .dotdown{
        position: absolute;
        top: 100%;
        left: -8%;
        /* margin-left: -57%; */
    }
    /* kanan */
    .input-form-login{
        top: 10px;
        bottom: 10px;
    }
    .input{
        width: 347px;
    }
    .btn-yellow{
        width: 347px;
    }
    .btn-login-google{
        width: 347px;
    }
    /* bawah */
    .space-top{
        position: relative;
        padding-top: 76px;
        padding-bottom: 74px;
    }
    .donut{
        top: 12px;
        /* bottom: 12px; */
        margin-bottom: 70px;
        margin-left: 0;
    }
    .items-justify{
        justify-content: center;
    }
}

/* laptop S*/
@media (min-width:992px){
    .content-login{
        top: 160px;
    }

    /* media */
    .line-center{
        left: 156px;
    }

    /* atas kiri */
    .explore-world{
        width: 260px;
        height: 112px;
    }
    .guest{
        top: 28px;
    }
    .btn-gray{
        width: 260px;
        height: 79px;
    }
    
    /* tengah */
    .dotup{
        right: 289px;
    }
    .dotdown{
        left: -3%;
    }
}

/* laptop M */
@media (min-width: 1200px){
    .content-login{
        left: 49px;
        top: 127px;
    }
    
    /* atas kiri */
    .explore-world{
        width: 326px;
        height: 168px;
        font-size: 54px;
        line-height: 65px;
    }
    .btn-gray{
        width: 327px;
        height: 79px;
        font-weight: 900;
        font-size: 24px;
        line-height: 33px;
        top: 48px;
    }
    /* tengah */
    .line-center{
        top: 0px;
        height: 505px;
    }
    .dotup{
        right: 311px;
    }
    .dotdown{
        top: 495px;
        left: -2.1%;
    }
    /* kanan */
    .input{
    width: 447px;
    height: 79px;

    font-size: 24px;
    line-height: 33px; 
    }
    .btn-yellow{
        width: 446px;
        height: 79px;

        font-size: 24px;
    }
    .btn-login-google{
        width: 446px;
        height: 79px;

        font-size: 24px;
    }
}

/* laptop L */
@media (min-width:1400px){
    .content-login{
        top:107px;
        left: 69px;
    }
    .line-center{
        left: 116px;
        height: 519px;
    }
    /* atas kiri */
    .explore-world{
        width: 390px;
        height: 168px;
        font-size: 64px;
        line-height: 85px;
    }
    .guest{
        top: 43px;
    }
    .btn-gray{
        width: 391px;
        height: 79px;
        font-weight: 900;
        font-size: 24px;
        line-height: 33px;
        top: 48px;
    }
    /* tengah */
    .dotup{
        right: 419px;
    }
    .dotdown{
        top: 511px;
        left: -1.8%;
        /* left: 233px; */
    }
    /* kanan */
    .input-form-login{
        top: 56px;
        right: 111px;
    }
    .input{
        width: 447px;
        height: 79px;

        font-size: 24px;
        line-height: 33px;
    }
}