.backHome{
    display: flex;
    width: 290px;
    align-items: center;
}

.backArrow{
    position: relative;
    left: 12px;
    height: 32px;
}

.addNewItem{
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.addImg1{
    width: auto;
}

.flex-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-forms-add-item{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-add-item{
    width: 520px;
    padding-bottom: 33px;
    
    outline: 0;
    border-width: 0 0 1px;
    border-color: #000000;
}