.vertification-bg{
    background: url('../../assets/gif/car-jump.gif');
    background-size: cover;
    height: 758px;
    background-position: center;
    padding: 0;
}

.success-vertify{
    position: relative;
    text-align: center;
    top: 10%;
}