.error-server{
    background: url('../../assets/img/login.webp');
    background-size: cover;
    height: 758px;
    background-position: center;
    padding: 0;
}
.transparan-bg{
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: auto;
}

.err-page{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font-err-page{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
    text-align: center;

    font-size: 124px;
    line-height: 85px;
}

.error-server-text{
    position: relative;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
    top: 22px;
    text-align: center;
}

.btn-see{
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #393939;
    background: #FFCD61;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    border-radius: 10px;

    width: 100%;
    height: 62px;

    // left: 5%;
    top: 42px;
}
.btn-see:active{
    background: #181818;
    color: #FFFFFF;
}