.back-home{
    display: flex;
    width: 290px;
    align-items: center;
    justify-content: space-between;
}

.backArrow{
    position: relative;
    left: 12px;
    height: 32px;
}

.reservation-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.flex-reservation{
    display: flex;
}

.dekstop-mode-reservation-pos-rel{
    position: relative;
    left: 65px;
}

.vehicle-text-reservation{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 25px;
    /* or 52% */

    display: flex;
    align-items: center;

    color: #042521;

    mix-blend-mode: normal;
}

.location-text-reservation{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */

    display: flex;
    align-items: center;

    color: #393939;

    mix-blend-mode: normal;
}

.img-reservation{
    width: 696px;
    height: 616px;
}

.no-prepayment-reservation{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    color: #9B0A0A;
}

.flex-quantity{
    display: flex;
    justify-content: space-between;
}

.box-min{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 80px;

    cursor: pointer;

    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.min{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    
    color: #000000;
}

.box-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 80px;

    cursor: pointer;

    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.plus{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;

    color: #000000;
}

.box-color{
    background: #EFEFEF;
}

.box-color:active{
    background: #FFCD61;
}

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;

    color: #000000;
}

.reservation-date{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    
    color: #393939;
}
.select-date-box{
    display: flex;
    align-items: center;
    width: 399px;
    height: 80px;
    padding: 23px;
    background: rgba(57, 57, 57, 0.1);
    
    border-radius: 10px;
}
.select-date-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    color: #80918E;
}
.forms-select-date{
    position: absolute;
    background: rgba(57, 57, 57, 0.1);
    border-radius: 10px;
    width: 399px;
    height: 80px;

    cursor: pointer;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #80918E;

    bottom: 0;
}

.btn-reservation{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 89px;
    width: auto;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;

    background: #FFCD61;
    cursor: pointer;

    border-radius: 10px;
    color: #393939;

    top: 100px;
}
.btn-reservation:active{
    background: #393939;
    color: #FFCD61;
}