.back-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back-arrow{
    position: relative;
    left: 12px;
    height: 32px;
    cursor: pointer;
}
.item-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.flex-main{
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.img-flex{
    display: flex;
    justify-content: center;
    @media (min-width:768px) {
    width: 70%;
    // height: 100%;
    }
}
.right-flex-main{
    @media (min-width:768px) {
        width: 45%;
        margin-left: 5%;
    }
}

.prev-img{
    display: none;
    @media (min-width:768px) {
        display: inline-block;
        position: absolute;
        
        cursor: pointer;

        top: 83%;
        z-index: 2;
    }
    @media (min-width:1024px) {
        top: 109%;
    }
    @media (min-width:1280px) {
        top: 103%
    }
    @media (min-width:1440px) {
        top: 115%;
    }
}
.next-img{
    display: none;
    @media (min-width:768px) {
        display: inline-block;
        position: absolute;
        cursor: pointer;

        top: 83%;
        right: 43%;

        z-index: 2;

        transform: scaleX(-1)
    }
    @media (min-width:1024px) {
        top: 109%;
    }
    @media (min-width:1280px) {
        top: 103%
    }
    @media (min-width:1440px) {
        top: 115%;
    }
}

.vehicle-text{
    font-size: 48px;
    font-weight: bold;
}
.location-text{
    font-size: 32px;
}
.fourty-four-size{
    font-size: 16px;
    @media (min-width:768px) {
    font-size: 24px;
    }
}

.btn-plus{
    width: 60px;
    height: 60px;
    background: rgba(203,203,212,0.2);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-weight: bold;
    font-size: 48px;
    line-height: 25px;

    @media (min-width:768px) {
        width: 80px;
        height: 80px;   
    }
}
.btn-plus:active{
    background: #FFCD61;
}
.btn-min{
    width: 60px;
    height: 60px;
    background: rgba(203,203,212,0.2);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-weight: bold;
    font-size: 48px;
    line-height: 25px;

    @media (min-width:768px) {
        width: 80px;
        height: 80px;   
    }
}
.btn-min:active{
    background: #FFCD61;
}

.carousel{
    text-align: center;
}

.reservation-price{
    display: flex;
    justify-content: end;
}

.reservation-stock{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 48px;
    line-height: 25px;
}

.btn-select-reservation{
    @media (min-width:768px) {
        position: absolute;
        top: 100%;
    }
    @media (min-width:1024px) {
        position: relative;

        display: flex;
        justify-content: space-between;
    }
}
.btn-chat-admin{
    background: #393939;
    color: #FFCD61;

    font-size: 24px;
    font-weight: bold;

    width: 100%;
    padding: 15px;

    border-radius: 10px;
    margin-top: 3%;

    @media (min-width:1024px) {
        margin-right: 2%;
        width: 40%;
    }
}
.btn-chat-admin:active{
    background: #FFCD61;
    color: #393939;
}
.btn-reservation{
    background: #FFCD61;
    color: #393939;

    font-size: 24px;
    font-weight: bold;

    width: 100%;
    padding: 15px;

    border-radius: 10px;
    margin-top: 3%;
    @media (min-width:1024px) {
        margin-right: 2%;
        width: 40%;
    }
}
.btn-reservation:active{
    background: #393939;
    color: #FFCD61;
}
.btn-like{
    display: flex;

    align-items: center;
    justify-content: center;

    background: #393939;
    color: #FFCD61;

    font-size: 24px;
    font-weight: bold;

    width: 100%;
    padding: 15px;

    border-radius: 10px;

    margin-top: 3%;
    @media (min-width:1024px) {
        width: 17%;
    }
}
.like-icon{
    position: relative;
    top:2px;

    margin-right: 10px;
}
.btn-like:active{
    background: #FFCD61;
    color: #393939;
}