main{
    scroll-behavior: smooth;
}

.top-view-more{
    margin-top: 12px;
    margin-bottom: 23px;
}

.search-vehicle{
    width: 100%;

    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;

    padding: 12px;

    font-size: 8px;
    @media(min-width:357px){
        font-size: 10px;
    }
    @media(min-width:768px){
        font-size: 16px;
    }
}

.search{
    position: relative;

    width: 20px;
    height: 20px;
    float: right;

    right: 22px;
    bottom: 30px;
    cursor: pointer;
    @media(min-width: 768px){
    width: 30px;
    height: 30px;
    right: 22px;
    bottom: 40px;
    }
}

.search-vehicle::placeholder{
    color: #B8BECD !important;
}

.flex-search-filter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}

.box-select{
    position: relative;
    opacity: 0.5;
    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 8px;
    width: 120px;
    height: 22px;
    @media (min-width:375px) {
        width: 160px;
        height: 32px;
    }
    @media (min-width:1024px) {        
        width: 220px;
        height: 52px;
        font-size: 16px;
    }
    margin-top: 5px;
}

.btn-search-filter{
    background: #FFCD61;
    color: #393939;
    width: 100%;

    padding: 10px;

    border-radius: 10px;

    font-weight: bold;
}
.btn-search-filter:active{
    background: #393939;
    color: #FFCD61;
}

.all-vehicle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 23px;
}

.meta-flex{
    display: flex;
    justify-content: center;
}

.flex-beetwen{
    display: flex;
    justify-content: space-between;
}

.vehicle-notFound{
    width: 30%;
}

.data-vehicle{
    margin-top: 23px;
}

.btn-prev{
    width: 120px;
    background: #AFB0B9;
    border: none;
    margin-right: 23px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    border-radius: 10px;
}
.btn-next{
    width: 120px;
    background: #AFB0B9;
    border: none;
    margin-left: 23px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    border-radius: 10px;
}
.btn-next:active{
    background: #FFCD61;
}
.page-text{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}
.btn-prev:active{
    background: #FFCD61;
}