.back-home{
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: space-between;
}

.backArrow{
    position: relative;
    left: 12px;
    height: 32px;

    cursor: pointer;
}

.reservation-text{
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.flex-reservation{
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
}
.right-flex-reservation{
    @media (min-width:768px) {
        width: 48%;
    }
}
.left-flex-reservation{
    margin-top: 10%;
    @media (min-width:768px) {
        margin-top: 0;
        width: 48%;
    }
}

.img-reservation{
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px;
}

.vehicle-text-vehicle-name{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    display: flex;
    align-items: center;

    color: #042521;

    mix-blend-mode: normal;
    @media (min-width:768px) {
        line-height: 25px;
    }
}
.location-text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #393939;

    mix-blend-mode: normal;
}
.no-prepayment-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #9B0A0A;
}

.flex-quantity{
    display: flex;
    justify-content: space-between;
}
.box-min{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    
    color: #000000;

    cursor: pointer;

    border: none;
    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.box-min:active{
    background: #FFCD61;
}
.box-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 80px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    
    color: #000000;

    cursor: pointer;

    border: none;
    border-radius: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.box-plus:active{
    background: #FFCD61;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;

    color: #000000;
}

.reservation-date-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    
    color: #393939;
}
.select-date-box{
    width: 100%;
    height: 80px;
    padding: 23px;
    background: rgba(57, 57, 57, 0.1);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    color: #80918E;
    
    border-radius: 10px;
}
.select-date-text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;


    
    color: #80918E;
}

.btn-reservation{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 89px;
    width: auto;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;

    background: #FFCD61;
    cursor: pointer;

    border-radius: 10px;
    color: #393939;
}
.btn-reservation:active{
    background: #393939;
    color: #FFCD61;
}